@font-face {
	font-family: 'BariolRegular';
	src: url('./BariolRegular.eot');
	src: local('BariolRegular'), url('./BariolRegular.woff') format('woff'), url('./BariolRegular.ttf') format('truetype');
}

/* .navbar{
    padding: 20px 0;
} */

.content-title-underline{
    width:40px;
    height: 5px;
    background-color: #78adc9;
    margin:0 auto 30px auto;
}

.content-title h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
    font-family: sans-serif;
    color: #000;
}

#register_form{
    padding-top: 340px;
}

.fieldset_area{
    padding-top: 40px !important;
}

.FormFill_area{
    padding-top: 15px !important;
}

.Radio_Checkbox_space{
    margin-right: 100px !important;
}

.Gender_radio{
    /* margin-left:50px; */
    display: inline;
    float: left;
}

.formBox{
    margin-top:80px;
    padding: 50px;
}

.inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.input{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.inputText{
    /* position: absolute; */
    line-height: 10px;
    font-size: 14px;
    transition: .5;
    /* opacity: .5; */
}

.textarea{
    height: 100px !important;
}

.button{
    width: 100%;
    background: #78adc9;
    color: #fff;
    border-radius: 0;
    border: none;
    outline: none;
    height: 50px;
    font-size: 24px;
}

/* .focus .inputText {
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #78adc9;
} */

.panel-info>.panel-heading {
    color:#fff !important;
    background-color: #78adc9 !important;
    border-color: #78adc9 !important;
    font-size: 15px !important;
}
/* 

.I_will_part input{
    margin-left: 15px;
} */

.Please_note{
    padding: 20px 0;
}

/*scrol to top*/

.scrollToTop {
    background: url("../images/bottom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
    border: 3px solid #f0f1f3;
    border-radius: 5px;
    bottom: 20px;
    display: inline-block;
    height: 54px;
    opacity: 0;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 54px;
    z-index: 100;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  
  }
  .scrollToTop:hover{
    background-position: 13px -50px;  
    text-decoration: none;
    outline: none;
  }


.Payment_Instructions h3{
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: sans-serif;
    color: #000;
}

.Payment_Instructions p{
    font-size: 15px;
}

.Please_note h4{
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.Please_note p{
    font-size: 15px;
}